ul.ak{
    padding: 0px;
}

div.akty{
    width: 100%;
    button-align: right;
    li-align: left;
}

li.akt{
    font-family: Aharoni;
    padding: 20px;
    font-size: 25px;
    text-align: left;
    margin-left: 50px;
}

button.accept{
    float: right;
    right: 50px;
    padding: 10px;
}